<style>
    .input-div{
        padding: 10px;
        display: flex;
        flex-direction: row;
        margin: unset !important;
    }
    .add-cons-label{
        width: 115px;
        justify-content: center;
        display: flex;
        align-items: flex-end;
        font-size: 0.875rem !important;
        color: #8a909d !important;
    }
    .add-cons-input{
        display: inline-block;
        flex: 1;
    }
    .select2.select2-container{
        flex: 1;
    }
    .add-cons-btn{
        position: absolute;
        right: 9px;
        top: 9px;
        font-size: 25px;
        background: #7dbcff;
        color: white;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        line-height: normal;
    }
    
</style>
<div class="c">
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2>
                <div id="siteDetailId" style="display:inline-block">시공 진행 예정 정보</div>
            </h2>

        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="icon-live-tab" data-toggle="tab" href="#icon-live" role="tab"
                        aria-controls="icon-live-check" aria-selected="true">
                        <i class="mdi mdi-cast mr-1"></i>개요</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " id="icon-live-check-tab" data-toggle="tab" href="#icon-live-check" role="tab"
                        aria-controls="icon-live-check" aria-selected="false">
                        <i class="mdi mdi-progress-check mr-1"></i> 공정 및 장비</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="icon-progress-tab" data-toggle="tab" href="#icon-progress" role="tab"
                        aria-controls="icon-progress" aria-selected="false">
                        <i class="mdi mdi-ruler mr-1"></i> 현장 지침</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="icon-task-tab" data-toggle="tab" href="#icon-task" role="tab"
                        aria-controls="icon-task" aria-selected="false">
                    <i class="mdi mdi-file-document-outline mr-1"></i> 문서</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent2">
                <div class="tab-pane pt-3 fade" id="icon-live" role="tabpanel" aria-labelledby="icon-live-tab">
                    <div class="input-div">
                        <label for="cons-name" class="add-cons-label">현장명</label>
                        <input type="text" class="form-control add-cons-input" id="cons-name" placeholder="현장명을 입력해주세요.">
                    </div>
                    <div class="input-div">
                        <label for="area-name" class="add-cons-label">지역명</label>
                        <input type="text" class="form-control add-cons-input" id="area-name" placeholder="지역명을 입력해주세요.">
                    </div>
                    <div class="input-div">
                        <label for="sigong-date" class="add-cons-label">시공일</label>
                        <input type="date" class="form-control add-cons-input" id="sigong-date">
                        <label for="jungong-date" class="add-cons-label">준공일</label>
                        <input type="date" class="form-control add-cons-input" id="jungong-date">
                    </div>
                    <div class="input-div">
                        <label for="manager-com" class="add-cons-label">관리기관</label>
                        <input type="text" class="form-control add-cons-input" id="manager-com" placeholder="관리기관을 입력해주세요.">
                        <label for="manager" class="add-cons-label">담당자</label>
                        <input type="text" class="form-control add-cons-input" id="manager" placeholder="담당자를 입력해주세요.">
                    </div>
                    <div class="input-div">
                        <label for="sigong-com" class="add-cons-label">시공사</label>
                        <input type="text" class="form-control add-cons-input" id="sigong-com" placeholder="시공사를 입력해주세요.">
                        <label for="sigong" class="add-cons-label">시공담당자</label>
                        <input type="text" class="form-control add-cons-input" id="sigong" placeholder="시공담당자를 입력해주세요.">
                    </div>
                    <div class="input-div">
                        <label for="gamri-com" class="add-cons-label">감리사</label>
                        <input type="text" class="form-control add-cons-input" id="gamri-com" placeholder="감리사를 입력해주세요.">
                        <label for="gamri" class="add-cons-label">감리담당자</label>
                        <input type="text" class="form-control add-cons-input" id="gamri" placeholder="감리담당자를 입력해주세요.">
                    </div>
                </div>

                <div class="tab-pane pt-3 fade" id="icon-live-check" role="tabpanel"
                    aria-labelledby="icon-live-check-tab">
                    <div class="input-div form-group">
                        <label for="subbase" class="add-cons-label">보조기층</label>
                        <select class="form-control js-example-basic-multiple add-cons-input" multiple="multiple"
                            name="subbase" id="subbase">
                            <option value="포설">포설</option>
                            <option value="1차다짐">1차다짐</option>
                            <option value="2차다짐">2차다짐</option>
                            <option value="3차다짐">3차다짐</option>
                            <option value="4차다짐">4차다짐</option>
                            <option value="5차다짐">5차다짐</option>
                            <option value="이음">이음</option>
                            <option value="마무리">마무리</option>
                        </select>
                    </div>
                    <div class="input-div form-group">
                        <label for="base" class="add-cons-label">기층</label>
                        <select class="form-control js-example-basic-multiple add-cons-input" multiple="multiple"
                            name="base" id="base">
                            <option value="포설">포설</option>
                            <option value="1차다짐">1차다짐</option>
                            <option value="2차다짐">2차다짐</option>
                            <option value="3차다짐">3차다짐</option>
                            <option value="4차다짐">4차다짐</option>
                            <option value="5차다짐">5차다짐</option>
                            <option value="이음">이음</option>
                            <option value="마무리">마무리</option>
                        </select>
                    </div>
                    <div class="input-div form-group">
                        <label for="prime-coat" class="add-cons-label">프라임코트</label>
                        <select class="form-control js-example-basic-multiple add-cons-input" multiple="multiple"
                            name="prime-coat" id="prime-coat">
                            <option value="포설">포설</option>
                            <option value="1차다짐">1차다짐</option>
                            <option value="2차다짐">2차다짐</option>
                            <option value="3차다짐">3차다짐</option>
                            <option value="4차다짐">4차다짐</option>
                            <option value="5차다짐">5차다짐</option>
                            <option value="이음">이음</option>
                            <option value="마무리">마무리</option>
                        </select>
                    </div>
                    <div class="input-div form-group">
                        <label for="tech-coat" class="add-cons-label">텍코트</label>
                        <select class="form-control js-example-basic-multiple add-cons-input" multiple="multiple"
                            name="tech-coat" id="tech-coat">
                            <option value="포설">포설</option>
                            <option value="1차다짐">1차다짐</option>
                            <option value="2차다짐">2차다짐</option>
                            <option value="3차다짐">3차다짐</option>
                            <option value="4차다짐">4차다짐</option>
                            <option value="5차다짐">5차다짐</option>
                            <option value="이음">이음</option>
                            <option value="마무리">마무리</option>
                        </select>
                    </div>
                    <div class="input-div form-group">
                        <label for="surface-layer" class="add-cons-label">표층</label>
                        <select class="form-control js-example-basic-multiple add-cons-input" multiple="multiple"
                            name="surface-layer" id="surface-layer">
                            <option value="포설">포설</option>
                            <option value="1차다짐">1차다짐</option>
                            <option value="2차다짐">2차다짐</option>
                            <option value="3차다짐">3차다짐</option>
                            <option value="4차다짐">4차다짐</option>
                            <option value="5차다짐">5차다짐</option>
                            <option value="이음">이음</option>
                            <option value="마무리">마무리</option>
                        </select>
                    </div>
                </div>


                <div class="tab-pane pt-3 fade" id="icon-progress" role="tabpanel" aria-labelledby="icon-progress-tab">
                    <div class="input-div">
                        <label for="spot-arrive" class="add-cons-label">현장도착</label>
                        <input type="number" class="form-control add-cons-input" id="spot-arrive" onkeypress='return checkNumber(event)'>
                        <label for="spot-arrive" class="add-cons-label" style="width:50px;">° C</label>
                        <label for="early" class="add-cons-label">초기</label>
                        <input type="number" class="form-control add-cons-input" id="early" onkeypress='return checkNumber(event)'>
                        <label for="early" class="add-cons-label" style="width:50px;">° C</label>
                    </div>
                    <div class="input-div">
                        <label for="middle" class="add-cons-label">중간</label>
                        <input type="number" class="form-control add-cons-input" id="middle" onkeypress='return checkNumber(event)'>
                        <label for="middle" class="add-cons-label" style="width:50px;">° C</label>
                        <label for="complete" class="add-cons-label">완성</label>
                        <input type="number" class="form-control add-cons-input" id="complete" onkeypress='return checkNumber(event)'>
                        <label for="complete" class="add-cons-label" style="width:50px;">° C</label>
                    </div>
                </div>


                <div class="tab-pane pt-3 fade" id="icon-task" role="tabpanel" aria-labelledby="icon-task-tab">
                    <!-- <button class="add-cons-btn" style="line-height: 0.9;" title="문서 추가" >+</button>
                    <input type="file" accept="image/*,.pdf, .txt, .word, .xlsx, .xls, .csv"
                     multiple required capture="user" onChange="addFile(this)" style="display: none;" id="upload-file"/>
                     <div id="file-list-div"></div> -->
                    <div style="position: relative;">
                        <button type="button" class="add-cons-btn" data-toggle="modal" data-target="#documentUploadModal" title="문서추가">+</button>
                    
                        <div>
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <tr class="bg-light text-center">
                                        <th>번호</th>
                                        <th>분류</th>
                                        <th>제목</th>
                                        <th>수정/삭제</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="documentUploadModal" tabindex="-1" role="dialog" aria-labelledby="documentUploadModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="siteDetailCompleument">문서 추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="add-cons-type">분류 선택</label>
                        <select class="form-control" id="add-cons-type" placeholder="분류를 선택해 주세요">
                            <option>선택</option>
                            <option>시공</option>
                            <option>준공</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-cons-title">제목</label>
                        <input type="text" class="form-control" id="add-cons-title" placeholder="제목을 입력해 주세요"/>
                    </div>
                    <div class="form-group">
                        <label for="siteDetailCompleSelectFile">파일 추가</label>
                        <input type="file" class="form-control-file" id="siteDetailCompleSelectFile" accept="image/*,.pdf, .txt, .word, .xlsx, .xls, .csv">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">문서 추가</button>
            </div>
        </div>
    </div>
</div>

<script>
    var uploadFileHtml = null;
    $(document).ready(function () {
        $(".nav-link").click(function () {
            var stateObj = { tab: $(this).attr("href") };
            history.pushState(stateObj, $(this).text(), $(this).attr("href"));
        });

        var url = window.location.href;
        var hashInx = url.indexOf("#");
        var hash = url.substring(hashInx + 1);
        if (hashInx == -1) hash = "icon-live";

        $("#" + hash).addClass('show').addClass('active');
        $("#" + hash + "-tab").addClass("active");

        $('.js-example-basic-multiple').select2();

        $("#spot-arrive").bind('keyup', function () {});

        $(".add-cons-btn").click(()=>{
            $( "#upload-file" ).trigger( "click" );
        });

    });

    checkNumber = (event) => {
        if(event.key === '.' 
            || event.key === '-'
            || event.key >= 0 && event.key <= 9) {
            return true;
        }
        return false;
    }

    

    // fileListToArray = (fileList) => {
    //     var arr = [];
    //     var flag = false;
    //     for(var i=0;i<fileList.length;++i){
    //         if(allUploadFiles!=null && allUploadFiles.length>0){
    //             for(var j=0;j<allUploadFiles.length;++j){
    //                 if(allUploadFiles[j].name==fileList[i].name && allUploadFiles[j].size==fileList[i].size){
    //                     flag = true;
    //                     break;
    //                 }
    //             }
    //         }
    //         if(!flag) arr.push(fileList[i]);
    //         flag = false;
    //     }
    //     return arr;
    // }

    // addFile = (ele) => {
    //     var inputFileList = ele.files;
    //     if(inputFileList.length>0){
    //         if(allUploadFiles!=null && allUploadFiles.length>0){
    //             var addFiles = fileListToArray(inputFileList);
    //             allUploadFiles = allUploadFiles.concat(addFiles);
    //         }else{
    //             allUploadFiles = fileListToArray(inputFileList);
    //         }
    //     }
        
    //     $("#file-list-div").html(makeFileNameList);

    // }

    // makeFileNameList = () => {
    //     var html = '<div class="file-name-div">';
    //     allUploadFiles.map((obj, inx)=>{
    //         html += '<div class="one-file-div">';
    //         html += '<button class="file-del-btn" data-inx="'+inx+'">-</button>';
    //         html += '<h6 class="file-name-h4">';
    //         html += obj.name;
    //         html += '</h6>';
    //         html += '</div>';
    //     });
    //     html += '</div>';
    //     return html;
    // }
</script>



